<section>
    <form class="comment-form">
        <div>
            <label for="comment-body"><strong>Comment:</strong></label>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
</section>